.myPhoto2 {
    width:100px;
    height:100px; 
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
  }
  
  .myJpg2 {
    width:100px;
    height:100px; 
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
  }